Repository stephen-harris/circle-path-filtering-demo: changes, and which CircleCI parameters are due for each by the changed paths.
All: region-eu1, region-ap1

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup:
    jobs:
      - checkout
      - run: 
          name: Generate workflows file
          command: |
            cp .circleci/workflows.yml .circleci/workflows.generated.yml
      - continuation/continue:
          parameters: '{}'
          configuration_path: .circleci/workflows.generated.yml
      - path-filtering/filter:
          mapping: |
            eu1/.* region-eu1 true
            ap1/.* region-ap1 true
            common/.* region-eu1 true
            common/.* region-ap1 true
          base-revision: main
          config-path: .circleci/workflows.generated.yml

fix setup workflow
  .circleci/config.yml
Due: none

Fix workflows file
  .circleci/config.yml
Due: none

update eu1
  eu1/README.md
Due: region-eu1

Reimplement path filtering
  .circleci/config.yml
Due: none

Fix command name
  .circleci/config.yml
Due: none

Bump orbs
  .circleci/config.yml
Due: none

Update eu1
  eu1/README.md
Due: region-eu1

Autogenerate config
  .circleci/config.yml
  .circleci/workflows.template.yml
Due: none

Deploy ap1
  ap1/README.md
Due: region-ap1

fix when filter
  .circleci/workflows.template.yml
Due: none

Update ap1
  ap1/README.md
Due: region-ap1

Update common
  common/Readme.md
Due: region-eu1, region-ap1

test: filtered-out job forbidden access to context
  .circleci/workflows.template.yml
Due: none

Update README.md
  ap1/README.md
Due: region-ap1
